@font-face {
  font-family: Padauk;
  src: url(fonts/Padauk-Bold.ttf);
}

body {
  font-family: system-ui;
  padding: 20px;
  font-size: 1em;
  background: rgba(196, 196, 196, 0.699);
}

.top-section {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 50px 20px 50px;
  border: 1px solid rgb(209, 209, 209);
  background-color: rgba(255, 3, 3, 0.034);
  max-width: 600px;
  border-radius: 10px;
  border-bottom: 1px solid rgb(196, 196, 196);
  position: relative;
  background-color: rgb(240, 240, 240);
}

.author {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1em;
  font-weight: 600;
  font-family: Padauk;
}

.fb-link:link {
  color: rgb(30, 14, 179);
}

.error-message {
  padding: 10px 0;
  font-weight: 600;
  color: rgb(22, 170, 22);
  display: flex;
  column-gap: 5px;
  align-items: center;
}

.error-icon {
  height: 30px;
}

.bottom-section {
  margin-top: -5px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 50px;
  border: 1px solid rgb(209, 209, 209);
  margin-bottom: 10px;
  max-width: 600px;
  background-color: rgb(240, 240, 240);
  z-index: 10;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.title {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 15px;
}

.generate-section {
  display: flex;
  align-items: center;
  /*display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  */
  column-gap: 5px;
}

.number-people {
  height: 40px;
  border: 1px solid rgb(192, 192, 192);
  padding-left: 10px;
  outline-color: rgb(6, 202, 6);
  min-width: 80px;
  font-size: 1em;
  font-family: Padauk;
  border-radius: 5px;
}

.select-gender {
  text-align: center;
  height: 44px;
  width: 60px;
  color: white;
  background-color: rgb(223, 17, 17);
  border: none;
  box-shadow: 0 0 5px rgba(53, 53, 53, 0.616);
  outline-color: rgb(6, 202, 6);
  cursor: pointer;
  font-weight: 600;
  transition: opacity 0.15s;
  border-radius: none;
  font-size: 1em;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  font-family: Padauk;
}

.name-length {
  text-align: center;
  height: 44px;
  width: 50px;
  color: white;
  background-color: rgb(223, 17, 17);
  border: none;
  box-shadow: 0 0 5px rgba(53, 53, 53, 0.616);
  outline-color: rgb(6, 202, 6);
  cursor: pointer;
  font-weight: 600;
  transition: opacity 0.15s;
  border-radius: none;
  font-size: 1em;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
}

.name-length-container,
.select-gender-container,
.generate-btn-container,
.clear-button-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip {
  position: absolute;
  bottom: -35px;
  white-space: nowrap;
  background-color: rgba(80, 80, 80, 0.801);
  color: white;
  padding: 7px;
  font-size: 0.8em;
  border-radius: 3px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s;
}

.name-length-container:hover .tooltip,
.select-gender-container:hover .tooltip,
.generate-btn-container:hover .tooltip,
.clear-button-container:hover .tooltip {
  opacity: 1;
}

.select-gender:hover,
.name-length:hover,
.generate-btn:hover,
.clear-button:hover {
  opacity: 0.7;
  border: 1px solid rgb(78, 78, 78);
}

.generate-btn,
.clear-button {
  height: 44px;
  padding: 0 5px;
  color: white;
  background-color: rgb(223, 17, 17);
  border: none;
  box-shadow: 0 0 5px rgba(53, 53, 53, 0.61c6);
  cursor: pointer;
  font-weight: 600;
  transition: opacity 0.15s;
  border-radius: none;
  font-size: 1em;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  font-family: Padauk;
}

.display-section {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  max-width: 400px;
}

.clear-button-container {
  margin-bottom: 5px;
  display: flex;
  justify-content: end;
}

.clear-button {
  height: 35px;
  padding: 0 20px;
  border-radius: 20px;
}

.name-container {
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 10px;
  padding: 10px;
  margin-bottom: 5px;
  background-color: rgba(255, 63, 95, 0.158);
  box-shadow: 0 0 5px rgba(36, 36, 36, 0.082);
  border: 1px solid rgba(207, 207, 207, 0);
  position: relative;
  font-family: Padauk;
}

.name-container:hover {
  opacity: 0.8;
  border: 1px solid rgb(194, 194, 194);
}

.number {
  font-weight: 600;
  color: rgb(7, 25, 184);
}

.name {
  color: black;
  font-weight: 550;
}

.copy-icon {
  height: 25px;
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.start-display {
  font-size: 1.1em;
  font-weight: 600;
  text-align: center;
}

@media(max-width: 450px) {

  body {
    padding: 10px;
  }

  .top-section {
    max-width: 300px;
  }

  .bottom-section {
    max-width: 300px;
  }

  .generate-section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    column-gap: 5px;
  }
}